<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.palachance.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:screenOrientation="landscape"
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".DetecteurMetal"
            android:label="@string/title_activity_detecteurmetal" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".DetecteurSon"
            android:label="@string/title_activity_detecteurson" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".DetecteurElectrique"
            android:label="@string/title_activity_detecteurelectrique" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>
